*{
    border: 1px solid color inherit;
    box-sizing: border-box;
  text-align: justify;
}
body   {
    margin: 0px;
    background: #20202D;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 90%;
    max-width: 945px;
    margin: auto;
}
.section{
    background: linear-gradient(180deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
    padding-top: 64px;
    padding-bottom: 92px;
}
.section-title{
    text-align: left;
    margin: -19%;
    margin-left: -10px;
    margin-bottom: 84px;
font-weight: bold;
font-size: 36px;
line-height: 42px;
}
.hero{
    padding-bottom: 155px;
    background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
    padding-top: 50px;
}.hero-header{
    display: flex;
    justify-content: space-between;
align-items: center;
}
.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-subtitle{
    display: inline-block;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 14px;
    color: #FFBB01;
    }
    .hero-additional{
       max-width: 200px;
        text-align: Left;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    margin-top: +120px;
    margin-bottom: 20px;
    }
    .skills-discription{
        margin-left: -20px;
        text-align: justify;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    margin-top: 0px;
    margin-bottom: 20px;
    }
    .skills-discription-language{
        margin-left: -38px;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    margin-top: 0px;
    margin-bottom: 20px;
    }
    .skills{
        text-align: justify;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    margin-top: 0px;
    margin-bottom: 20px;
    }
    .hero-knowlage{
    display: flex;
        margin-top: 20px;
    }
    .hero-skills{
        text-align: justify;
        text-align: left;
        font-weight: bold;
        font-size: 35px;
        line-height: 42px;
        margin-top: 0px;
        margin-bottom: 20px;
        }
        .hero-language{
            
           margin: -40px;
            text-align: justify;
            font-weight: normal;
            font-size: 35px;
            line-height: 42px;
            margin-top: 45px;
            margin-bottom: 20px;
        }
        .hero-about{
            margin-top: -15%;
            text-align: initial;
            font-weight: bold;
            font-size: 35px;
            line-height: 42px;
          
            margin-bottom: 20px;
        }
        .hero-avatar{
            margin-top: -50%;
        width: 389px;
        height: 389px;
        background-color: #fff;
        border-radius: 50%;
        background-image: url(avatar/serega.jpg);
        background-repeat: no-repeat;
        background-position: center top -30px;
        border: 13px solid #fff ;
        }
        
        .hero-title{
            padding-right: none ;
            text-align: left;
            font-weight: bold;
            font-size: 35px;
            line-height: 42px;
            margin-top: 0px;
            margin-bottom: 20px;
        }
        .hero-description-about{
            padding-right: none ;
            text-align: left;
            font-weight: bold;
            font-size: 50px;
            line-height: 59px;
            margin-top: 0px;
            margin-bottom: 20px;
        }
       
        .hero-description{
            text-align: center;
            font-size: 16px;
            line-height: 28px;
            max-width: 420px;
            margin-bottom: 38px;
        }.
 
        .features{
            background-color: black;
        }
        .features-block{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .features-title {

            flex-wrap: wrap;
            display: inline;
            font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        margin: 0px;
        margin-bottom: 16px;
        }
        .feature-text   {
            display: inline;
            font-weight: bold;
            font-size: 16px;
            line-height: 28px;
            margin: 0px;   
        }
        .form-title{
            font-weight: bold;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            color: #000000;
            margin: 0px;
            margin-bottom: 29px;
        }
 .input{
  background: #F8F8F8;
box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
border-radius: 5px;
padding: 18px 20px;
padding-left: 50px;
width: 100%;
border: none;
            font-size: 14px;
            line-height: 28px;}
    .contacts-block{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .contacts-data{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 500px;
        margin-bottom: 42px;
    }
    .contacts-phone{  
        flex-basis: 50%;
        margin: auto;
    }
    .contacts-mail{
        flex-basis: 50%;
        margin-bottom: 53px;
    }
    .contacts-social {
        flex-basis: 100%;
    }
    .contacts-title{
       display: inline;
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        margin: 0;
        margin-bottom: 15px;
    }
    .contacts-link {
        font-size: 18px;
        display: inline;
        text-decoration: none;
        color: inherit;
        margin: auto;
        margin-right: 17px;
    }
    .contacts-link:hover{
        text-decoration: underline;
    }
   
    /* responsive */
    @media(max-width:836px)
    {
        .hero-content{
            flex-direction: column;
        }
        .hero-avatar{
            background-position: center top -px;
            margin-top: 20px;
            order: 0;
            width: 300px;
            height: 300px;
            border-width: 15px;
        margin-bottom: 17px; 
      }
    .hero-text{
        text-align: initial;
        order: 1;
    }
    .features-item{
        text-align: initial;
        text-align: left;
        display:inline;
       
    }
    .contacts-block{
        text-align: initial;
        
        align-items: flex-start;
       
    }
    .contacts-form{
        text-align: initial;
        word-spacing:0px;
        margin-bottom: 58px ;
    }
    .skills-discription-language{
        text-align: initial;
        margin-left: -0px;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    margin-top: 0px;
    margin-bottom: 20px;
    }
    .skills-discription{
        text-align: initial;
    }
    .contacts-mail{
        text-align: initial;
    }
    .hero-skills{
        
        text-align:initial;

        }
        .hero-knowlage{
            text-align: initial;
        }
        .section-title{
             margin-left: auto;
        }
        .skills{
            
            text-align: initial;
        }
        .raising{
            text-align: initial;
        }
        .hero-language{
            margin: auto;
        }
    }
    
    
